html {
  scrollbar-gutter: stable;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: "Poppins", sans-serif;
  /* Забезпечує кращу читабельність тексту */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Встановлює базовий шрифт для всього документа */
  font-family: var(--font-family);
  /* Встановлює базовий розмір шрифту */
  font-size: var(--font-size-base);
  /* Встановлює базову висоту рядка */
  line-height: var(--line-height-base);
  /* Встановлює колір тексту */
  color: var(--gren-gray-scale-900);
  /* Встановлює колір фону */
  background-color: var(--gray-scale-white);
  /* Забезпечує плавну прокрутку */
  scroll-behavior: smooth;
  /* Резервується місце для вертикальної смуги прокрутки */
  scrollbar-gutter: stable;
}

/* Стилі для приховання елементів */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}
