:root {
  /*шрифти*/
  --font-family: 'Name', sans-serif;
  --second-family: 'Name', sans-serif;
  --third-family: 'Name', sans-serif;

  /* Кольори */
  --black: #292929;
  --error: #e74a3b;

  /* Shadows */
  --box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}